# OrchestreeAI Super Admin Dashboard Environment Configuration
VITE_BACKEND_API_URL=https://api.orchestree.biz.id/api/v1
NEXT_PUBLIC_BACKEND_API_URL=https://api.orchestree.biz.id/
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

